<html>
<head>
    <title>Real Time Driver Detection Demonstration</title>
</head>
<body>
<h1>Drunk detect</h1>
<img src="{{ url_for('drunk_detect') }}">
</body>
<body>
<h1>Drowy detect</h1>
<img src="{{ url_for('drowy_detect') }}">
</body>
<body>
<h1>Dangerous object detect</h1>
<img src="{{ url_for('dangerous_object_detect') }}">
</body>
<body>
<h1>Distracted detect</h1>
<img src="{{ url_for('distracted_detect') }}">
</body>
<body>
<h3>socket on</h3>
<img src="{{ url_for('socket_app') }}">
</body>
</html>
