{% macro navlink(endpoint,text,icon) %}
{%- if request.endpoint.endswith(endpoint) == True %}
<li class="active"><a href="{{endpoint}}"><i class="{{icon}}"></i><span>{{text}}</span> </a> </li>
{%- else %}
<li><a href="{{endpoint}}"><i class="{{icon}}"></i><span>{{text}}</span> </a> </li>
{%- endif %}
{% endmacro %}
<div class="subnavbar">
  <div class="subnavbar-inner">
    <div class="container">
      <ul class="mainnav">

        {{ navlink("charts","Real-time processing results","icon-facetime-video") }}

      </ul>
    </div>
    <!-- /container --> 
  </div>
  <!-- /subnavbar-inner --> 
</div>
<!-- /subnavbar -->